.Jehad_body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images.pexels.com/photos/7988089/pexels-photo-7988089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.mitt {
  z-index: 2;
  background: gray;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  box-shadow: 2px 2px 14px 4px black;
}
li {
  list-style: circle;
  font-size: larger;
  color: aliceblue;
}
.background {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
}
.program {
  width: 50%;
  height: 50%;
  border-radius: 20%;
  transition: 2s;
  cursor: pointer;
}

.program:hover {
  transform: rotateX(180deg);
}
h1 {
  margin-left: 50%;
}

p {
  margin-left: 16rem;
  font-size: 2rem;
}
img {
  margin-left: 30%;
}
footer {
}
a {
  position: fixed;
  top: 90%;
  margin-left: 90%;
}
